<%- include("partials/header.ejs") %>
  <h1>About Me</h1>
  <img class="profile" src="images/codermint.jpg" alt="cat profile">
  <p>
    I am Codermint, a passionate programmer. I am an advanced web, app and game Developer with HTML, CSS, 
    Flexbox, Grid, Bootstrap, JavaScript, Node, Express, Python and Flask as my tech stack. Over time, I have 
    gained a wealth of experience developing and designing websites, apps and games. Working with the clients, 
    my goal is always driven towards providing amazing experience with the best level of quality and service 
    to them. I love learning about new technologies, what problems are they solving and how I can use them to 
    build better and scalable products.
  </p>
<%- include("partials/footer.ejs") %>