<%- include("partials/header.ejs") %>
  <h1>Contact Me</h1>
  <form action="/email" method="post">
    <input name="name" type="text" class="feedback-input" placeholder="Name" autocomplete="off" />
    <input name="email" type="email" class="feedback-input" placeholder="Email" autocomplete="off" />
    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
    <input type="submit" value="SUBMIT" />
  </form>
<%- include("partials/footer.ejs") %>