<%- include("partials/header.ejs") %>

<h1>Privacy Policy</h1>
  <p>Effective Date: 31/12/2025</p>
  <p>
    Codermint operates the website located at <a href="https://azure-tides.onrender.com">azure-tides.onrender.com</a>.
    This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.
  </p>

  <h2>Information We Collect</h2>
  <p>We may collect several different types of information for various purposes to improve our Service to you.</p>

  <h3>Personal Data</h3>
  <p>
    While browsing our website, you generally don't provide personal data. However, if you contact us through the contact form or any other method, we might collect information like your name and email address.
  </p>

  <h3>Non-Personal Data</h3>
  <p>
    We may collect non-personally identifiable information when you visit our website. This data might include your browser type, operating system, IP address, referring / exit pages, and date/time stamps.
  </p>

  <h2>Use of Collected Data</h2>
  <p>We use the collected data for various purposes:</p>
  <ul>
    <li>To improve and maintain our Service</li>
    <li>To understand how users interact with our Service</li>
    <li>To personalize your experience (if applicable)</li>
    <li>To respond to your inquiries and requests</li>
    <li>To send you important information (if applicable)</li>
  </ul>

  <h2>Disclosure of Data</h2>
  <p>We may disclose your Personal Data under certain circumstances:</p>
  <ul>
    <li>To comply with legal obligations</li>
    <li>To protect the rights and safety of ourselves or others</li>
  </ul>

  <h2>Data Retention</h2>
  <p>
    We will retain your Personal Data only for as long as necessary for the purposes set forth in this Privacy Policy. We will then delete your Personal Data or anonymize it, so it can no longer be associated with you.
  </p>

  <h2>Your Rights</h2>
  <p>Depending on your location, you may have certain rights regarding your Personal Data. These rights may include:</p>
  <ul>
    <li>The right to access your Personal Data</li>
    <li>The right to rectify inaccurate Personal Data</li>
    <li>The right to request the erasure of your Personal Data</li>
    <li>The right to restrict the processing of your Personal Data</li>
  </ul>

  <h2>Contact Us</h2>
  <p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:saad.waqas.jeddah@gmail.com">saad.waqas.jeddah@gmail.com</a>.</p>
 
<%- include("partials/footer.ejs") %>